{namespace s=SKYFILLERS\SfFilecollectionGallery\ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{imageItems}">
        <s:Paginate objects="{imageItems}" as="paginatedObject" configuration="{paginationConfiguration}">
            <div class="clear"></div>
            <f:for each="{paginatedObject}" as="object">
                <div class="sf-filecollection-gallery-image-container">
                    <f:link.action action="list" arguments="{galleryUID : object.galleryUID}" title="{object.properties.title}">
                        <f:image image="{object}" width="{settings.image.width}" height="{settings.image.height}"
                                 alt="{object.properties.alternative}"
                                 title="{object.properties.title}"/>
                    </f:link.action>
                    <f:if condition="{object.galleryTitle}">
                        <f:if condition="{settings.enableDescription}">
                            <p class="desc">{object.galleryTitle} ({object.gallerySize})</p>
                        </f:if>
                    </f:if>
                </div>
            </f:for>
            <div class="clear"></div>
        </s:Paginate>
        <div class="clear"></div>
    </f:if>
</f:section>